!bin
vim/bundle
vim/backups
nvim/backups
tags
bin/node
bin/devstep
config/configstore
config/ranger/history
config/ranger/bookmarks
config/ranger/tagged
bin/selecta
config/nvim/autoload/*.vim
.netrwhist
vimperator/info/default
mpd/database
mpd/log
mpd/mpd.conf
mpd/pid
mpd/playlists
mpd/state
mpd/sticker.sql
*.log
symbolic/emacs.d/elpa
symbolic/emacs.d/cider-history
symbolic/emacs.d/backups
symbolic/emacs.d/ido.last
symbolic/emacs.d/**/*~
symbolic/emacs.d/.*
symbolic/emacs.d/ido.last
symbolic/emacs.d/places
symbolic/emacs.d/eshell
symbolic/emacs.d/projectile-bookmarks.eld
