!bin
vim/bundle
vim/backups
nvim/backups
tags
bin/node
bin/devstep
config/configstore
bin/selecta
config/nvim/autoload/*.vim
.netrwhist
vimperator/info/default
mpd/database
mpd/log
mpd/mpd.conf
mpd/pid
mpd/playlists
mpd/state
mpd/sticker.sql
*.log
